$netflixBlack: #141414;
$netflixGray: #ddd;

.navMenu {
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;

    a {
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }
}

.selectedNavMenu {
    height: 50px;
    padding-left: 20px;
    background-color: rgba(128,128,128,0.3);
    display: flex;
    align-items: center;

    a {
        display: inline-flex;
        align-items: center;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }

}

.category {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
    height: 1px;
}

.categoryBtnBox {
    display: flex;
    flex-wrap: wrap;
}

.categoryBtnBox {
    > div{
        display: flex;
        margin-top: 15px;
        padding-left: 20px;
    }
}

.seletedGenre{
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.genre {
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}