$netflixBlack: #141414;
$netflixGray: #ddd;

.pageBox {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > span{
        font-size: 20px;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.pageBtn {
    color: $netflixGray;
    font-weight: 500;
    cursor: pointer;
}

.selectedPageNumber {
    color: #737373;
    font-weight: bold;
    pointer-events: none;
    cursor: none;
}

