$netflixBlack: yellow;
$netflixGray: #ddd;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(30,41,49);
  background: linear-gradient(90deg, rgba(30,41,49,1) 0%, rgba(57,78,90,1) 100%);
  
}